# 26: Membuat Data Frame dari hasil seleksi Spreadsheet

### Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

1.3.4

### Membuat Data Frame dari hasil seleksi Spreadsheet

In [5]:
df = pd.read_clipboard() 
df

       NRP                NAMA
0  2190182          Titi Kamal
1  2190192  Andika Kangen Band
2  2190180           Luna Maya
3  2190109           Dominikus