# 27: Mengenal fungsi agregasi first() dan last()

### Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

1.3.4

### Data Frame

In [2]:
d = {'doktor':['Budi', 'Wati', 'Iwan', 'Budi', 'Budi', 'Wati'],
     'pasien':['Abdul', 'Rahmat', 'Asep', 'Joko', 'Wiwin', 'Lisa']}

df = pd.DataFrame(d)
df

  doktor  pasien
0   Budi   Abdul
1   Wati  Rahmat
2   Iwan    Asep
3   Budi    Joko
4   Budi   Wiwin
5   Wati    Lisa

### Mengenal fungsi agregasi first() dan last()

In [4]:
df.groupby('doktor')['pasien'].count().to_frame() 

# dikelompokkan berdasarkan nama kelompok, 
# count berfungsi untuk mendata jumlah pasien untuk setiap dokter yang bertugas

        pasien
doktor
Budi         3
Iwan         1
Wati         2

In [5]:
df.groupby('doktor')['pasien'].first().to_frame()

# menampilkan data pd baris pertama setiap kelompoknya

        pasien
doktor
Budi     Abdul
Iwan      Asep
Wati    Rahmat

In [6]:
df.groupby('doktor')['pasien'].last().to_frame()

# menampilkan data pd baris terakhir setiap kelompoknya

       pasien
doktor
Budi    Wiwin
Iwan     Asep
Wati     Lisa