# 13: Konversi nilai numerik ke dalam sejumlah kategori

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), 
                 columns=cols)
df

   usia
0    44
1    32
2    51
3    58
4    89
5    27
6    42
7    70
8    51
9    20

### Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan cut()

In [4]:
df['kelompok_usia'] = pd.cut(df['usia'],
                            bins = [0, 18, 65, 99],
                            labels = ['anak', 'dewasa', 'manula'])
df

   usia kelompok_usia
0    44        dewasa
1    32        dewasa
2    51        dewasa
3    58        dewasa
4    89        manula
5    27        dewasa
6    42        dewasa
7    70        manula
8    51        dewasa
9    20        dewasa

In [ ]:
# proses pemotongan/pembagian usianya menggunakan bins yang dikategorikan menjadi beberapa bagian berdasarkan numeriknya