# 07: Menghapus(drop) missing values(NaN)

In [2]:
import pandas as pd

print(pd.__version__)

1.3.4

### Persiapan Data Frame

In [35]:
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()

        index         A         B         C         D
0  8t0Oo8cPWS -0.169903  0.617061 -0.840649  0.564556
1  KNg5iAqdlF  0.239618 -0.329133  1.399410 -0.068330
2  8aXk4mBghW -0.578299 -1.016109 -0.020419 -0.084144
3  QlC2WxoZMj -0.538908  0.839623  2.024604 -2.107474
4  lYtRH5RnlN       NaN -0.867308 -0.467572 -0.650398

In [ ]:
# Menghasilkan data frame dummy yang memiliki missing values didalamnya
# .reset_index() = membentuk index baru, index lama akan diadopsi sebagai kolom biasa

In [36]:
df = df.rename(columns={'index':'Z'})
df.head()

            Z         A         B         C         D
0  8t0Oo8cPWS -0.169903  0.617061 -0.840649  0.564556
1  KNg5iAqdlF  0.239618 -0.329133  1.399410 -0.068330
2  8aXk4mBghW -0.578299 -1.016109 -0.020419 -0.084144
3  QlC2WxoZMj -0.538908  0.839623  2.024604 -2.107474
4  lYtRH5RnlN       NaN -0.867308 -0.467572 -0.650398

In [37]:
df_backup = df.copy(deep=True)

### Menghapus(drop) setiap kolom yang mengandung missing values

In [38]:
df = df.dropna(axis='columns')
df.head()

            Z
0  8t0Oo8cPWS
1  KNg5iAqdlF
2  8aXk4mBghW
3  QlC2WxoZMj
4  lYtRH5RnlN

In [ ]:
# kolom manapun yang mengandung missing values akan dibuang/drop
# hasil yang keluar berarti kolom mengandung values

### Menghapus(drop) setiap baris yang mengandung missing values

In [39]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

            Z         A         B         C         D
0  8t0Oo8cPWS -0.169903  0.617061 -0.840649  0.564556
1  KNg5iAqdlF  0.239618 -0.329133  1.399410 -0.068330
2  8aXk4mBghW -0.578299 -1.016109 -0.020419 -0.084144
3  QlC2WxoZMj -0.538908  0.839623  2.024604 -2.107474
5  4eHp16ZKRQ  0.028212  1.111788 -1.077376 -0.258540

### Persentase missing values untuk tiap kolom

In [40]:
df = df_backup.copy(deep=True)
df.isna().mean()

Z    0.000000
A    0.133333
B    0.100000
C    0.066667
D    0.100000
dtype: float64

mean() = mengkalkulasi rata-rata/persentase dari missing values yang dimiliki setiap kolom dari data frame

### Menghapus (drop) setiap kolom yang mengandung missing values berdasarkan threshold

In [41]:
treshold = len(df) * 0.9
df = df.dropna(thresh=treshold, axis='columns')
df.head()

            Z         B         C         D
0  8t0Oo8cPWS  0.617061 -0.840649  0.564556
1  KNg5iAqdlF -0.329133  1.399410 -0.068330
2  8aXk4mBghW -1.016109 -0.020419 -0.084144
3  QlC2WxoZMj  0.839623  2.024604 -2.107474
4  lYtRH5RnlN -0.867308 -0.467572 -0.650398

In [ ]:
# dengan melakukan pertimbangan 
# jika missing values sudah sangat tinggi/melewati batas treshold yang ditentukan akan dibuang