# 30: Akses nilai variabel pada query()

### Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Data Frame

In [6]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df

    A   B   C   D   E
0   3   3   1  17  12
1   8  15  18   8   1
2  11  14  10  18  12
3   4  14  12  18  10
4   7   6  14   1  18

### Akses nilai variabel pada query()

In [11]:
df.query('A > 5') #seleksi baris

    A   B   C   D   E
1   8  15  18   8   1
2  11  14  10  18  12
4   7   6  14   1  18

In [8]:
rerata = df['A'].mean()
rerata

6.6

In [9]:
df.query('A > @rerata') #cara untuk mengakses nilai variabel pd fungsi query

    A   B   C   D   E
1   8  15  18   8   1
2  11  14  10  18  12
4   7   6  14   1  18