# 08: Memeriksa kesamaan antar dua buah kolom(Series) pada Data Frame

### Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan Data Frame

In [8]:
data = {'A':[15, 15, 18, np.nan, 12],
        'B':[15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

### Mengenal Pandas Series

In [ ]:
df['A']

In [ ]:
type(df['A'])

In [ ]:
type(df)

In [9]:
# series=kolom
# setiap kolom dari pandas memiliki tipe data series
# sebuah df terdiri dari sejumlah series

### Memeriksa kesamaan dengan operator ==

In [10]:
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

### Memeriksa kesamaan dengan method equals()

In [11]:
df['A'].equals(df['B'])

True

In [ ]:
# Membandingkan nilai yang ditampung oleh 2 buah kolom sama/tidak, lebih baik menggunakan function equals()

### Memeriksa kesamaan antar dua Data Frame

In [12]:
df1 = df.copy(deep=True)

df.equals(df1)

True

In [ ]:
# df dan df1 akan menamppung objek dari df yang memiliki kondisi yang sama

In [13]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True

In [14]:
# untuk membandingkan nilai yang sama lebih baik menggunakan method equals()
# karena method == memiliki fungsi yang berbeda