# Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame

# Import Modules

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [ ]:
## Melihat versi pandas dan numpy di perangkat yang dipribadi

# Persiapan Data Frame

In [12]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
                  
df

   A  B  C  D  E
0  9  3  5  7  3
1  1  8  6  9  2
2  8  5  6  6  2
3  6  8  3  8  3
4  7  4  7  8  6

In [13]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [ ]:
## String di konversi menjadi tuple yang terdiri dari karakter-karakter
## randint = random integer
## nilai parameter columns diberi nilai dengan cols

# Menyertakan Prefix Kolom

In [ ]:
## Prefix = string di depan suatu string tertentu

In [14]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        9        3        5        7        3
1        1        8        6        9        2
2        8        5        6        6        2
3        6        8        3        8        3
4        7        4        7        8        6

In [ ]:
## kolom_ = jadinya fungsi prefix ini untuk mennambahkan string 'kolom_' untuk semua nama kolom

# Menyertakan Prefix Kolom

In [15]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        9        3        5        7        3
1        1        8        6        9        2
2        8        5        6        6        2
3        6        8        3        8        3
4        7        4        7        8        6

In [ ]:
## Prefix = Menyertakan sekumpulan string di belakang