# 46: Seleksi weekdays dan weekends pada data deret waktu (time series)

### Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Data Frame

In [2]:
n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='D')
df

D:\ANACONDA\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

            col1  col2
2000-01-01     9    11
2000-01-02    12    10
2000-01-03     1    19
2000-01-04    10     3
2000-01-05     4     7
...          ...   ...
2000-12-26     4    16
2000-12-27     9     3
2000-12-28    11     7
2000-12-29     7     9
2000-12-30    17     3

[365 rows x 2 columns]

### Seleksi weekdays dan weekends

In [3]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

            col1  col2
2000-01-03     1    19
2000-01-04    10     3
2000-01-05     4     7
2000-01-06     9    10
2000-01-07    12     1
2000-01-10     8     9
2000-01-11    10     5

In [4]:
weekends_df = df[df.index.dayofweek.isin([5, 6])]
weekends_df.head(7)

            col1  col2
2000-01-01     9    11
2000-01-02    12    10
2000-01-08     7    13
2000-01-09    17     7
2000-01-15    12     2
2000-01-16     8     4
2000-01-22    17    17