# 18: Membentuk dummy Data Frame

### Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Membentuk Data Frame dari Dictionary

In [2]:
pd.DataFrame({'col1':[1, 2, 3, 4],
              'col2':[5, 6, 7, 8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

### Membentuk Data Frame dari Numpy Array

In [3]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[13,  2,  5],
       [11, 11,  2],
       [14, 19, 14],
       [ 5,  3,  3],
       [12, 18,  4]])

In [4]:
pd.DataFrame(arr, columns=tuple('ABC')) #DataFrame berdasarkan np array di atas

    A   B   C
0  13   2   5
1  11  11   2
2  14  19  14
3   5   3   3
4  12  18   4

### Membentuk Data Frame dengan memanfaatkan pandas.util.testing

In [5]:
pd.util.testing.makeDataFrame().head()

D:\ANACONDA\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
urjEZykPNK  0.819536  0.446791  1.026126  1.207331
81BLbcd6vV  1.098997  0.515044  0.171990 -0.823375
A3te2x6sXi -2.424847 -2.325960  0.563267 -1.138024
MmuvpDum3D -0.725197  0.170097  1.014420 -0.527371
NM4iTfPPgW  2.201655 -0.803886  1.126940  0.559206

In [7]:
pd.util.testing.makeMixedDataFrame().head()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [8]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03 -0.666356  1.530420 -1.277106  0.997676
2000-01-04 -0.590934 -2.120908  1.205840 -1.051424
2000-01-05  1.098052 -1.117232 -0.403903  0.197022
2000-01-06  0.789908 -0.670332 -1.123339 -1.087926
2000-01-07  2.008635  0.030591  0.799119 -0.765428

In [10]:
pd.util.testing.makeMissingDataframe().head()

                   A         B         C         D
UmIDoxmAU2 -0.665179 -0.044964  0.540831  0.353927
A6XZ4QqDrB -0.894895 -0.120901       NaN -0.044776
rrOaOSmueH       NaN  2.309580  0.265840  0.585093
Emj8WzjmQ7  0.487063  0.471000  0.539789       NaN
gpTJEKK4ox -1.076272 -0.087482 -0.550736 -0.617856